/* define base colors */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit';
    background-color: var(--light-gray);
}

.flex-box-container {
    background-color: var(--white);
    border-radius: 25px;
}

.img-rounded {
    border-radius: 15px;
}

@media (max-width: 1440px) {
    img {
        width: 50%;
    }
}

@media (max-width: 425px) {
    .text-h4 {
        font-size: 1.275rem;
    }

    .text-h5 {
        font-size: 0.9rem;
    }
    
}